<%= form_for(@user) do |f| %>
 <div class="field">
    <%= f.label :username, :class =>"hidden" %><br>
    <%= f.text_field :username, :placeholder =>"Username" %>
 </div>
 <div class="field">
    <%= f.label :password, :class =>"hidden" %><br>
    <%= f.password_field :password, :placeholder =>"Password"  %>
 </div>
 <div class="field">
    <%= f.label :confirmPassword, :class =>"hidden" %><br>
    <%= f.password_field :confirmPassword, :placeholder =>"Confirm Password"  %>
 </div>
 
 <div class="actions">
    <%= f.submit :Register, :class => "btn btn-success :hover" %>
 </div>
  <br />	
 <div>
  <footer >
       <p>&copy; dotcreek 2014</p>
  </footer>
 </div>
<% end %> 